@model ImportExcelFIle.DotNETCore.Models.CacHeSoLuong

@{
    if (Model.IdHeSoLuong == 0)
    {
        ViewData["Title"] = "Hệ số lương mới";
    }
    else ViewData["Title"] = "Sửa Hệ số lương";
    ViewData["Controller"] = "CacHeSoLuongs";
    Layout = null;
    ViewData["Model"] = "Hệ số lương";
}

    <form asp-action="CreateOrEdit" enctype="multipart/form-data" asp-route-id="@Model.IdHeSoLuong" asp-controller="@ViewData["Controller"]" onsubmit="return jQueryAjaxPost(this);">
        <div class="row">
            <input type="hidden" asp-for="IdHeSoLuong" />
            <input type="hidden" asp-for="IdGiaoVien" />
            <input type="hidden" asp-for="QuyetDinh" />
            <div class="col-md-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="HeSoLuong" class="control-label font-weight-bold"></label>
                <input asp-format="{0:F2}" asp-for="HeSoLuong" class="form-control"/>
                <span asp-validation-for="HeSoLuong" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="PhuCapNgheNghiep" class="control-label font-weight-bold"></label>
                <input asp-for="PhuCapNgheNghiep" class="form-control"/>
                <span asp-validation-for="PhuCapNgheNghiep" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="PhuCapChucVu" class="control-label font-weight-bold"></label>
                <input asp-for="PhuCapChucVu" class="form-control" />
                <span asp-validation-for="PhuCapChucVu" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="TinhTrang" class="control-label font-weight-bold"></label>
                <select asp-for="TinhTrang" class="form-control" asp-items="ViewBag.TinhTrang"></select>
                <span asp-validation-for="TinhTrang" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="ThoiGianBatDau" class="control-label font-weight-bold"></label>
                <input asp-format="{0:yyyy-MM-dd}" asp-for="ThoiGianBatDau" class="form-control" />
                <span asp-validation-for="ThoiGianBatDau" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="ThoiGianKetThuc" class="control-label font-weight-bold"></label>
                <input asp-format="{0:yyyy-MM-dd}" asp-for="ThoiGianKetThuc" class="form-control" />
                <span asp-validation-for="ThoiGianKetThuc" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div style="padding-left:15px; padding-right:15px" class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Tải quyết đinh:</span>
                </div>
                <div class="custom-file">
                    <input type="file" multiple class="custom-file-input" id="fileupload" name="fileuploads"
                           aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Tải tập tin ảnh (.jpg, gif, bmp)...</label>
                </div>
            </div>
            <div class="col-md-12 form-group" style="padding-top:15px" id="dvPreview">
                @if (String.IsNullOrEmpty(Model.QuyetDinh))
                {
                    <img style="height:100px; width:100px" src="~/Images/unnamed.png" class="img-thumbnail" />
                }
                else
                {
                    string[] fileNames = Model.QuyetDinh.Split(' ');
                    var index = 1;
                    foreach (var fileName in fileNames)
                    {
                        var detail = "<img src='/CacHeSoLuongs/" + fileName + "'/>";
                        var shortcut = "<img src='/CacHeSoLuongs/" + fileName + "'class='img-thumbnail'/>";
            <a tabindex="0" class="" onclick="clickImage()" data-placement='right' role="button" data-toggle="popover" data-html="true" data-trigger="hover" title='' data-original-title="Ảnh_@index" data-content="@detail">
                <img onclick="clickImage()" style="width:100px;height:100px" src="~/CacHeSoLuongs/@fileName" class="img-thumbnail" />
            </a>
                        index++;
                    }
                }
            </div>
        </div>
        <br />
        <div class="col-md-12">
            <div class="form-group text-right float-right">
                <input id="Luu" type="submit" value="Lưu @ViewData["Model"]" class="btn btn-primary" />
            </div>
            <div class="form-group text-left float-left">
                <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">Quay lại</span>
                </button>
            </div>
        </div>
    </form>

<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover().click(function () {
        });
    });
    function clickImage() {
        $('[data-toggle="popover"]').popover().click(function () {
        });
    }
    $(function () {
        $("#fileupload").change(function () {
            if (typeof (FileReader) != "undefined") {
                var dvPreview = $("#dvPreview");
                dvPreview.html("");
                var regex = /^([a-zA-Z0-9\s_\\.\-:\(\)])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
                var i = 0;
                $($(this)[0].files).each(function () {
                    var file = $(this);
                    if (regex.test(file[0].name.toLowerCase())) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            var a = $("<a tabindex='0' class='' data-trigger='hover' role='button' data-toggle='popover' data-html='true'  title='' data-placement='left' data-original-title='Quyết định'></a>");
                            var img = $("<img />");
                            var imgTag = '<img style="height:200px; width:200px" src="' + e.target.result + '"/>'
                            img.attr("class", "img-thumbnail");
                            img.attr("src", e.target.result);
                            img.attr("id", 'Anh');
                            img.attr("style", "height:100px;width: 100px");
                            i++;
                            a.attr("data-content", imgTag);
                            a.attr("data-original-title", 'Ảnh_' + i);
                            a.attr('onclick', "clickImage(this)");
                            a.append(img);
                            dvPreview.append(a);
                            var element = document.getElementById('Anh');
                            element.click();
                        }
                        reader.readAsDataURL(file[0]);
                    } else {
                        alert(file[0].name + " không phải là tập tin ảnh.");
                        dvPreview.html("");
                        return false;
                    }
                });
            } else {
                alert("Trình duyệt không hỗ trợ HTML5");
            }
        });
    });
</script>