@model ImportExcelFIle.DotNETCore.Models.LoaiCongViec

@{
    ViewData["Model"] = "Loại công việc";
    ViewData["Controller"] = "LoaiCongViec"+"s";
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateOrEdit" asp-route-id="@Model.IdLoaiCongViec" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdLoaiCongViec" />

            <div class="form-group row">
                <div class="form-group col-md-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label asp-for="TenLoaiCongViec" class="input-group-text"></label>
                        </div>
                        <input asp-for="TenLoaiCongViec" class="form-control d-inline" />
                        <div class="input-group-append">
                            <input type="submit" value="Lưu @ViewData["Model"]" class="btn btn-primary" />
                        </div>
                    </div>
                    <span asp-validation-for="TenLoaiCongViec" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <a class="btn btn-info" id="backTab" asp-controller="QuanTris" asp-action="Index" asp-route-Tab="@ViewData["Controller"]Tab">Quay lại</a>
            </div>

        </form>
    </div>
</div>
