<br />
<div class="card mb-sm-3" style="min-width: 18rem;">
    <h4 class="card-header" id="BaoGioGiangDays">Bảng Báo giờ giảng dạy</h4>
    <div class="card-body">
        @Html.DropDownList("IdBaoGioGiangDays", null, htmlAttributes: new { @size = 25, @class = "form-control" })
    </div>
    <div class="card-footer">
        <a asp-controller="BaoGioGiangDays" class="btn btn-primary" asp-action="Create">Thêm mới Báo giờ</a> |
        <a asp-controller="BaoGioGiangDays" class="btn btn-info linkClick" asp-action="Edit"><i class="far fa-edit"> Sửa Báo giờ giảng dạy</i></a> |
        <a asp-controller="BaoGioGiangDays" class="btn btn-danger linkClick" asp-action="Delete"><i class="far fa-trash-alt"> Xóa Báo giờ giảng dạy</i></a>
    </div>
</div>
@if (TempData["msg"] != null)
{
    <script type="text/javascript">
            @Html.Raw(TempData["msg"])
    </script>
}