/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
body {
    font-family: 'Roboto', sans-serif;
}

/* Change input control border color */
.form-control, .input-group-text {
    border: 1px solid #0080ff;
}

a.btn:hover {
    cursor: pointer !important;
}

/*loader*/
.loaderbody {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    background-color: rgba(128,128,128,0.2);
    z-index: 2147483647;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 45%;
    left: 40%;
}
.modal-header {
    background: #f1921c;
    color: white;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hide {
    display: none;
}
.checkbox{
    padding-left:50px;
    padding-bottom:10px;
}


.popover img {
    max-width: 700px;
    max-height: 700px;
}
.popover {
    max-width: 900px;
    max-height: 900px;
}
.chosen-single {
    border-color: #4fa7ff!important;
}
.field-validation-error {
    color: #ff0000;
}


.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.valid {
}
.error {
    color: #ff0000;
}

.dialog-ovelay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 999999
}

    .dialog-ovelay .dialog {
        width: 500px;
        margin: 100px auto 0;
        background-color: #fff;
        box-shadow: 0 0 20px rgba(0,0,0,.2);
        border-radius: 3px;
        overflow: hidden
    }

        .dialog-ovelay .dialog header {
            padding: 10px 8px;
            background-color: #f6f7f9;
            border-bottom: 1px solid #e5e5e5
        }

            .dialog-ovelay .dialog header h3 {
                font-size: 14px;
                margin: 0;
                color: #555;
                display: inline-block;
                font-weight:bold
                   
            }

            .dialog-ovelay .dialog header .fa-times {
                float: right;
                color: #c4c5c7;
                cursor: pointer;
                transition: all .5s ease;
                padding: 0 2px;
                border-radius: 1px
            }

                .dialog-ovelay .dialog header .fa-close:hover {
                    color: #b9b9b9
                }

                .dialog-ovelay .dialog header .fa-close:active {
                    box-shadow: 0 0 5px #673AB7;
                    color: #a2a2a2
                }

        .dialog-ovelay .dialog .dialog-msg {
            padding: 12px 10px
        }

            .dialog-ovelay .dialog .dialog-msg p {
                margin: 0;
                font-size: 15px;
                color: #333
            }

        .dialog-ovelay .dialog footer {
            border-top: 1px solid #e5e5e5;
            padding: 8px 10px
        }

            .dialog-ovelay .dialog footer .controls {
                direction: rtl
            }

                .dialog-ovelay .dialog footer .controls .button {
                    padding: 1px 11px;
                    border-radius: 3px
                }

.button {
    cursor: pointer
}

.button-default {
    background-color: #ced4da;
    border: 1px solid rgba(204, 204, 204, 0.5);
    color: #5D5D5D;
}

.button-danger {
    background-color: #f44336;
    border: 1px solid #d32f2f;
    color: #f5f5f5
}

.link {
    padding: 5px 10px;
    cursor: pointer
}